:root {
  background-color: rgb(54, 54, 54);
  color-scheme: dark;
  color: rgb(201, 200, 200);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Body */
body {
  padding-left: 2%;
}

/* Headers */
h1,
h2 {
  color: ghostwhite;
}

/* Content */
main {
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width: 1024px) {
  main {
    padding-left: 2%;
    padding-right: 2%;
  }
}
